.footer {
  background-color: var(--accent-color);
  color: var(--text-color);
  padding: 20px 0;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
}

.footer-content {
  margin: 0 auto;
}
