:root {
  --primary-color: #7338a0;
  --secondary-color: #924dbf;
  --accent-color: #4a2574;
  --text-color: #ffffff;
  --font-family: "Roboto", sans-serif;
}

body {
  color: var(--text-color);
  font-family: var(--font-family);
  background-color: var(--primary-color);
}

html,
body {
  height: 100%;
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1; /* Займає весь доступний простір між хедером і футером */
}

a {
  color: var(--text-color);
  text-decoration: none;
  font-weight: bold;
}

img {
  border-radius: 10px;
}
